template(name="buttons")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Buttons
      // /.col-lg-12
    // /.row
    .row
      .col-lg-6
        .panel.panel-default
          .panel-heading
            | Default Buttons
          // /.panel-heading
          .panel-body
            h4 Normal Buttons
            p
              button.btn.btn-default(type="button") Default
              button.btn.btn-primary(type="button") Primary
              button.btn.btn-success(type="button") Success
              button.btn.btn-info(type="button") Info
              button.btn.btn-warning(type="button") Warning
              button.btn.btn-danger(type="button") Danger
              button.btn.btn-link(type="button") Link
            br
            h4 Disabled Buttons
            p
              button.btn.btn-default.disabled(type="button") Default
              button.btn.btn-primary.disabled(type="button") Primary
              button.btn.btn-success.disabled(type="button") Success
              button.btn.btn-info.disabled(type="button") Info
              button.btn.btn-warning.disabled(type="button") Warning
              button.btn.btn-danger.disabled(type="button") Danger
              button.btn.btn-link.disabled(type="button") Link
            br
            h4 Button Sizes
            p
              button.btn.btn-primary.btn-lg(type="button") Large button
              button.btn.btn-primary(type="button") Default button
              button.btn.btn-primary.btn-sm(type="button") Small button
              button.btn.btn-primary.btn-xs(type="button") Mini button
              br
              br
              button.btn.btn-primary.btn-lg.btn-block(type="button") Block level button
          // /.panel-body
        // /.panel
        .panel.panel-default
          .panel-heading
            | Circle Icon Buttons with Font Awesome Icons
          // /.panel-heading
          .panel-body
            h4 Normal Circle Buttons
            button.btn.btn-default.btn-circle(type="button")
              i.fa.fa-check
            button.btn.btn-primary.btn-circle(type="button")
              i.fa.fa-list
            button.btn.btn-success.btn-circle(type="button")
              i.fa.fa-link
            button.btn.btn-info.btn-circle(type="button")
              i.fa.fa-check
            button.btn.btn-warning.btn-circle(type="button")
              i.fa.fa-times
            button.btn.btn-danger.btn-circle(type="button")
              i.fa.fa-heart
            br
            br
            h4 Large Circle Buttons
            button.btn.btn-default.btn-circle.btn-lg(type="button")
              i.fa.fa-check
            button.btn.btn-primary.btn-circle.btn-lg(type="button")
              i.fa.fa-list
            button.btn.btn-success.btn-circle.btn-lg(type="button")
              i.fa.fa-link
            button.btn.btn-info.btn-circle.btn-lg(type="button")
              i.fa.fa-check
            button.btn.btn-warning.btn-circle.btn-lg(type="button")
              i.fa.fa-times
            button.btn.btn-danger.btn-circle.btn-lg(type="button")
              i.fa.fa-heart
            br
            br
            h4 Extra Large Circle Buttons
            button.btn.btn-default.btn-circle.btn-xl(type="button")
              i.fa.fa-check
            button.btn.btn-primary.btn-circle.btn-xl(type="button")
              i.fa.fa-list
            button.btn.btn-success.btn-circle.btn-xl(type="button")
              i.fa.fa-link
            button.btn.btn-info.btn-circle.btn-xl(type="button")
              i.fa.fa-check
            button.btn.btn-warning.btn-circle.btn-xl(type="button")
              i.fa.fa-times
            button.btn.btn-danger.btn-circle.btn-xl(type="button")
              i.fa.fa-heart
          // /.panel-body
        // /.panel
      // /.col-lg-6
      .col-lg-6
        .panel.panel-default
          .panel-heading
            | Outline Buttons with Smooth Transition
          // /.panel-heading
          .panel-body
            h4 Outline Buttons
            p
              button.btn.btn-outline.btn-default(type="button") Default
              button.btn.btn-outline.btn-primary(type="button") Primary
              button.btn.btn-outline.btn-success(type="button") Success
              button.btn.btn-outline.btn-info(type="button") Info
              button.btn.btn-outline.btn-warning(type="button") Warning
              button.btn.btn-outline.btn-danger(type="button") Danger
              button.btn.btn-outline.btn-link(type="button") Link
            br
            h4 Outline Button Sizes
            p
              button.btn.btn-outline.btn-primary.btn-lg(type="button") Large button
              button.btn.btn-outline.btn-primary(type="button") Default button
              button.btn.btn-outline.btn-primary.btn-sm(type="button") Small button
              button.btn.btn-outline.btn-primary.btn-xs(type="button") Mini button
              br
              br
              button.btn.btn-outline.btn-primary.btn-lg.btn-block(type="button") Block level button
          // /.panel-body
        // /.panel
        .panel.panel-default
          .panel-heading
            | Social Buttons with Font Awesome Icons
          // /.panel-heading
          .panel-body
            h4 Social Buttons
            a.btn.btn-block.btn-social.btn-bitbucket
              i.fa.fa-bitbucket
              | Sign in with Bitbucket
            a.btn.btn-block.btn-social.btn-dropbox
              i.fa.fa-dropbox
              | Sign in with Dropbox
            a.btn.btn-block.btn-social.btn-facebook
              i.fa.fa-facebook
              | Sign in with Facebook
            a.btn.btn-block.btn-social.btn-flickr
              i.fa.fa-flickr
              | Sign in with Flickr
            a.btn.btn-block.btn-social.btn-github
              i.fa.fa-github
              | Sign in with GitHub
            a.btn.btn-block.btn-social.btn-google-plus
              i.fa.fa-google-plus
              | Sign in with Google
            a.btn.btn-block.btn-social.btn-instagram
              i.fa.fa-instagram
              | Sign in with Instagram
            a.btn.btn-block.btn-social.btn-linkedin
              i.fa.fa-linkedin
              | Sign in with LinkedIn
            a.btn.btn-block.btn-social.btn-pinterest
              i.fa.fa-pinterest
              | Sign in with Pinterest
            a.btn.btn-block.btn-social.btn-tumblr
              i.fa.fa-tumblr
              | Sign in with Tumblr
            a.btn.btn-block.btn-social.btn-twitter
              i.fa.fa-twitter
              | Sign in with Twitter
            a.btn.btn-block.btn-social.btn-vk
              i.fa.fa-vk
              | Sign in with VK
            hr
            .text-center
              a.btn.btn-social-icon.btn-bitbucket
                i.fa.fa-bitbucket
              a.btn.btn-social-icon.btn-dropbox
                i.fa.fa-dropbox
              a.btn.btn-social-icon.btn-facebook
                i.fa.fa-facebook
              a.btn.btn-social-icon.btn-flickr
                i.fa.fa-flickr
              a.btn.btn-social-icon.btn-github
                i.fa.fa-github
              a.btn.btn-social-icon.btn-google-plus
                i.fa.fa-google-plus
              a.btn.btn-social-icon.btn-instagram
                i.fa.fa-instagram
              a.btn.btn-social-icon.btn-linkedin
                i.fa.fa-linkedin
              a.btn.btn-social-icon.btn-pinterest
                i.fa.fa-pinterest
              a.btn.btn-social-icon.btn-tumblr
                i.fa.fa-tumblr
              a.btn.btn-social-icon.btn-twitter
                i.fa.fa-twitter
              a.btn.btn-social-icon.btn-vk
                i.fa.fa-vk
          // /.panel-body
        // /.panel
      // /.col-lg-6
    // /.row
  // /#page-wrapper

