head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description", content="")
  meta(name="author", content="")
  title SB Admin 2 Meteor
  //// Bootstrap Core CSS
  //link(href="css/bootstrap.min.css", rel="stylesheet")
  //// MetisMenu CSS
  //link(href="css/plugins/metisMenu/metisMenu.min.css", rel="stylesheet")
  //// Timeline CSS
  //link(href="css/plugins/timeline.css", rel="stylesheet")
  //// Custom CSS
  //link(href="css/sb-admin-2.css", rel="stylesheet")
  //// Morris Charts CSS
  //link(href="css/plugins/morris.css", rel="stylesheet")
  //// Custom Fonts
  //link(href="font-awesome-4.1.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")
  //// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  //// WARNING: Respond.js doesn't work if you view the page via file://
  ////if lt IE 9
  //  script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
  //  script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")

template(name="mainLayout")
  +topBar
  +container

template(name="topBar")
  #wrapper
    // Navigation
    nav.navbar.navbar-default.navbar-static-top(role="navigation", style="margin-bottom: 0")
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") SB Admin v2.0
      // /.navbar-header
      ul.nav.navbar-top-links.navbar-right
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown", href="#")
            i.fa.fa-envelope.fa-fw
            i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-messages
            li
              a(href="#")
                div
                  strong John Smith
                  span.pull-right.text-muted
                    em Yesterday
                div
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
            li.divider
            li
              a(href="#")
                div
                  strong John Smith
                  span.pull-right.text-muted
                    em Yesterday
                div
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
            li.divider
            li
              a(href="#")
                div
                  strong John Smith
                  span.pull-right.text-muted
                    em Yesterday
                div
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
            li.divider
            li
              a.text-center(href="#")
                strong Read All Messages
                i.fa.fa-angle-right
          // /.dropdown-messages
        // /.dropdown
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown", href="#")
            i.fa.fa-tasks.fa-fw
            i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-tasks
            li
              a(href="#")
                div
                  p
                    strong Task 1
                    span.pull-right.text-muted 40% Complete
                  .progress.progress-striped.active
                    .progress-bar.progress-bar-success(role="progressbar", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100", style="width: 40%")
                      span.sr-only 40% Complete (success)
            li.divider
            li
              a(href="#")
                div
                  p
                    strong Task 2
                    span.pull-right.text-muted 20% Complete
                  .progress.progress-striped.active
                    .progress-bar.progress-bar-info(role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100", style="width: 20%")
                      span.sr-only 20% Complete
            li.divider
            li
              a(href="#")
                div
                  p
                    strong Task 3
                    span.pull-right.text-muted 60% Complete
                  .progress.progress-striped.active
                    .progress-bar.progress-bar-warning(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 60%")
                      span.sr-only 60% Complete (warning)
            li.divider
            li
              a(href="#")
                div
                  p
                    strong Task 4
                    span.pull-right.text-muted 80% Complete
                  .progress.progress-striped.active
                    .progress-bar.progress-bar-danger(role="progressbar", aria-valuenow="80", aria-valuemin="0", aria-valuemax="100", style="width: 80%")
                      span.sr-only 80% Complete (danger)
            li.divider
            li
              a.text-center(href="#")
                strong See All Tasks
                i.fa.fa-angle-right
          // /.dropdown-tasks
        // /.dropdown
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown", href="#")
            i.fa.fa-bell.fa-fw
            i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-alerts
            li
              a(href="#")
                div
                  i.fa.fa-comment.fa-fw
                  | New Comment
                  span.pull-right.text-muted.small 4 minutes ago
            li.divider
            li
              a(href="#")
                div
                  i.fa.fa-twitter.fa-fw
                  | 3 New Followers
                  span.pull-right.text-muted.small 12 minutes ago
            li.divider
            li
              a(href="#")
                div
                  i.fa.fa-envelope.fa-fw
                  | Message Sent
                  span.pull-right.text-muted.small 4 minutes ago
            li.divider
            li
              a(href="#")
                div
                  i.fa.fa-tasks.fa-fw
                  | New Task
                  span.pull-right.text-muted.small 4 minutes ago
            li.divider
            li
              a(href="#")
                div
                  i.fa.fa-upload.fa-fw
                  | Server Rebooted
                  span.pull-right.text-muted.small 4 minutes ago
            li.divider
            li
              a.text-center(href="#")
                strong See All Alerts
                i.fa.fa-angle-right
          // /.dropdown-alerts
        // /.dropdown
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown", href="#")
            i.fa.fa-user.fa-fw
            i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-user
            li
              a(href="#")
                i.fa.fa-user.fa-fw
                | User Profile
            li
              a(href="#")
                i.fa.fa-gear.fa-fw
                | Settings
            li.divider
            li
              a(href="/login")
                i.fa.fa-sign-out.fa-fw
                | Logout
          // /.dropdown-user
        // /.dropdown
      // /.navbar-top-links

template(name="container")
  +sidebar
  +page

template(name="sidebar")
  .navbar-default.sidebar(role="navigation")
    .sidebar-nav.navbar-collapse
      ul#side-menu.nav
        li.sidebar-search
          .input-group.custom-search-form
            input.form-control(type="text", placeholder="Search...")
            span.input-group-btn
              button.btn.btn-default(type="button")
                i.fa.fa-search
          // /input-group
        each navElements
          +navElement

template(name="navElement")
  li
    a(href=path class=isActive)
      if icon
        i.fa.fa-fw(class=icon)
      | #{label}
      if children
        span.fa.arrow
    if children
      ul.nav.nav-second-level
        each children
          +navElement


template(name="page")
  // Put page title and breadcrumbs here with `Router.routes[Session.get('active')]`
  +yield
