template(name="loginLayout")
  +head
  body
    h1 Something
    +yield

template(name="login")
  .container
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-heading
            h3.panel-title Please Sign In
          .panel-body
            form(role="form")
              fieldset
                .form-group
                  input.form-control(type="email", placeholder="E-mail", name="email", autofocus="")
                .form-group
                  input.form-control(type="password", placeholder="Password", name="password", value="")
                .checkbox
                  label
                    input(type="checkbox", name="remember", value="Remember Me")
                    | Remember Me
                // Change this to a button or input when using this as a form
                a.btn.btn-lg.btn-success.btn-block(href="/") Login
