template(name="panels-and-wells")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Panels and Wells
      // /.col-lg-12
    // /.row
    .row
      .col-lg-4
        .panel.panel-default
          .panel-heading
            | Default Panel
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
          .panel-footer
            | Panel Footer
      // /.col-lg-4
      .col-lg-4
        .panel.panel-primary
          .panel-heading
            | Primary Panel
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
          .panel-footer
            | Panel Footer
      // /.col-lg-4
      .col-lg-4
        .panel.panel-success
          .panel-heading
            | Success Panel
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
          .panel-footer
            | Panel Footer
      // /.col-lg-4
    // /.row
    .row
      .col-lg-4
        .panel.panel-info
          .panel-heading
            | Info Panel
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
          .panel-footer
            | Panel Footer
      // /.col-lg-4
      .col-lg-4
        .panel.panel-warning
          .panel-heading
            | Warning Panel
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
          .panel-footer
            | Panel Footer
      // /.col-lg-4
      .col-lg-4
        .panel.panel-danger
          .panel-heading
            | Danger Panel
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
          .panel-footer
            | Panel Footer
      // /.col-lg-4
    // /.row
    .row
      .col-lg-4
        .panel.panel-green
          .panel-heading
            | Green Panel
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
          .panel-footer
            | Panel Footer
        // /.col-lg-4
      .col-lg-4
        .panel.panel-yellow
          .panel-heading
            | Yellow Panel
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
          .panel-footer
            | Panel Footer
        // /.col-lg-4
      .col-lg-4
        .panel.panel-red
          .panel-heading
            | Red Panel
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
          .panel-footer
            | Panel Footer
        // /.col-lg-4
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Collapsible Accordion Panel Group
          // .panel-heading
          .panel-body
            #accordion.panel-group
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne") Collapsible Group Item #1
                #collapseOne.panel-collapse.collapse.in
                  .panel-body
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo") Collapsible Group Item #2
                #collapseTwo.panel-collapse.collapse
                  .panel-body
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseThree") Collapsible Group Item #3
                #collapseThree.panel-collapse.collapse
                  .panel-body
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          // .panel-body
        // /.panel
      // /.col-lg-12
    // /.row
    .row
      .col-lg-6
        .panel.panel-default
          .panel-heading
            | Basic Tabs
          // /.panel-heading
          .panel-body
            // Nav tabs
            ul.nav.nav-tabs
              li.active
                a(href="#home", data-toggle="tab") Home
              li
                a(href="#profile", data-toggle="tab") Profile
              li
                a(href="#messages", data-toggle="tab") Messages
              li
                a(href="#settings", data-toggle="tab") Settings
            // Tab panes
            .tab-content
              #home.tab-pane.fade.in.active
                h4 Home Tab
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              #profile.tab-pane.fade
                h4 Profile Tab
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              #messages.tab-pane.fade
                h4 Messages Tab
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              #settings.tab-pane.fade
                h4 Settings Tab
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          // /.panel-body
        // /.panel
      // /.col-lg-6
      .col-lg-6
        .panel.panel-default
          .panel-heading
            | Pill Tabs
          // /.panel-heading
          .panel-body
            // Nav tabs
            ul.nav.nav-pills
              li.active
                a(href="#home-pills", data-toggle="tab") Home
              li
                a(href="#profile-pills", data-toggle="tab") Profile
              li
                a(href="#messages-pills", data-toggle="tab") Messages
              li
                a(href="#settings-pills", data-toggle="tab") Settings
            // Tab panes
            .tab-content
              #home-pills.tab-pane.fade.in.active
                h4 Home Tab
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              #profile-pills.tab-pane.fade
                h4 Profile Tab
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              #messages-pills.tab-pane.fade
                h4 Messages Tab
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              #settings-pills.tab-pane.fade
                h4 Settings Tab
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          // /.panel-body
        // /.panel
      // /.col-lg-6
    // /.row
    .row
      .col-lg-4
        .well
          h4 Normal Well
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
      // /.col-lg-4
      .col-lg-4
        .well.well-lg
          h4 Large Well
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
      // /.col-lg-4
      .col-lg-4
        .well.well-sm
          h4 Small Well
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
      // /.col-lg-4
    // /.row
    .row
      .col-lg-12
        .jumbotron
          h1 Jumbotron
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.
          p
            a.btn.btn-primary.btn-lg(role="button") Learn more
      // /.col-lg-12
    // /.row
  // /#page-wrapper

